<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.SkillTemplateMapper">

    <select id="selectById" resultType="ljc.entity.SkillTemplateTbl">
        SELECT * FROM skill_template WHERE skill_id = #{skillId}
    </select>

    <select id="selectAll" resultType="ljc.entity.SkillTemplateTbl">
        SELECT * FROM skill_template
    </select>

</mapper>
