<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.TroopTemplateMapper">
    <select id="selectById" resultType="ljc.entity.TroopTemplateTbl">
        SELECT * FROM troop_template WHERE troop_id = #{troopId}
    </select>
    
    <select id="selectAll" resultType="ljc.entity.TroopTemplateTbl">
        SELECT * FROM troop_template
    </select>
</mapper>