<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.UserTroopProgressMapper">

    <insert id="insert">
        INSERT INTO user_troop_progress (user_id, troop_id, status, evolution_tier, evolution_unlocked)
        VALUES (#{userId}, #{troopId}, #{status}, #{evolutionTier}, #{evolutionUnlocked})
    </insert>

    <update id="updateByPrimaryKey">
        UPDATE user_troop_progress
        SET status = #{status},
            evolution_tier = #{evolutionTier},
            evolution_unlocked = #{evolutionUnlocked}
        WHERE user_id = #{userId} AND troop_id = #{troopId}
    </update>

    <select id="selectByPrimaryKey" resultType="ljc.entity.UserTroopProgressTbl">
        SELECT * FROM user_troop_progress 
        WHERE user_id = #{userId} AND troop_id = #{troopId}
    </select>

    <select id="selectByUserId" resultType="ljc.entity.UserTroopProgressTbl">
        SELECT * FROM user_troop_progress 
        WHERE user_id = #{userId}
    </select>
    
</mapper>
