<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ljc.mapper.UserItemMapper">

    <select id="selectAll" resultType="ljc.entity.UserItem">
        SELECT * FROM user_items WHERE user_id = #{userId}
    </select>

    <select id="selectEquipped" resultType="ljc.entity.UserItem">
        SELECT * FROM user_items
        WHERE equipped_general_id = #{generalId}
          AND is_equipped = 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_items (user_id, template_id, type, count, slot, enhance_level, is_equipped, equipped_general_id)
        VALUES (#{userId}, #{templateId}, #{type}, #{count}, #{slot}, #{enhanceLevel}, #{isEquipped}, #{equippedGeneralId})
    </insert>

</mapper>