<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.UserGeneralMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_generals
         (user_id, template_id, unlocked, activated, level, tier, current_hp, max_hp, rest_turns, capacity, created_at)
        VALUES
            (#{userId}, #{templateId}, #{unlocked}, #{activated}, #{level}, #{tier}, #{currentHp}, #{maxHp}, #{restTurns}, #{capacity}, NOW())
    </insert>

    <update id="update">
        UPDATE user_generals
        SET unlocked = #{unlocked},
            activated = #{activated},
            level = #{level},
            tier = #{tier},
            current_hp = #{currentHp},
            max_hp = #{maxHp},
            rest_turns = #{restTurns},
            capacity = #{capacity}
        WHERE id = #{id}
    </update>

    <select id="selectByUserId" resultType="ljc.entity.UserGeneralTbl">
        SELECT
            ug.*,
            gt.name AS name,
            (gt.base_atk + (ug.level - 1) * 10) AS atk,
            gt.speed AS speed,
            st.name AS skill_name,
            st.description AS skill_desc
        FROM user_generals ug
        LEFT JOIN general_template gt ON gt.template_id = ug.template_id
        LEFT JOIN user_general_skill ugs ON ugs.general_id = ug.id
        LEFT JOIN skill_template st ON st.skill_id = ugs.current_skill_id
        WHERE ug.user_id = #{userId}
    </select>
    <select id="selectById" resultType="ljc.entity.UserGeneralTbl">
        SELECT * FROM user_generals WHERE id = #{id}
    </select>
    
    <select id="selectByUserIdAndTemplateId" resultType="ljc.entity.UserGeneralTbl">
        SELECT * FROM user_generals WHERE user_id = #{userId} AND template_id = #{templateId}
    </select>
</mapper>
