<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.UserTroopMapper">
    <insert id="insert">
        INSERT INTO user_troops (user_id, troop_id, count)
        VALUES (#{userId}, #{troopId}, #{count})
    </insert>
    <select id="selectByUserId" resultType="ljc.entity.UserTroopTbl">
        SELECT * FROM user_troops WHERE user_id = #{userId}
    </select>
    <update id="addTroopCount">
        UPDATE user_troops
        SET count = count + #{count}
        WHERE user_id = #{userId} AND troop_id = #{troopId}
    </update>
</mapper>