<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ljc.mapper.UserProfileMapper">

    <select id="selectById" resultType="ljc.entity.UserProfile">
        SELECT * FROM user_profile WHERE user_id = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO user_profile (user_id, gold, material, blueprint, stamina, tower_floor, country)
        VALUES (#{userId}, #{gold}, #{material}, #{blueprint}, #{stamina}, #{towerFloor}, #{country})
    </insert>

    <update id="decreaseGold">
        UPDATE user_profile SET gold = gold - #{delta}
        WHERE user_id = #{userId} AND gold >= #{delta}
    </update>

    <update id="decreaseMaterial">
        UPDATE user_profile SET material = material - #{delta}
        WHERE user_id = #{userId} AND material >= #{delta}
    </update>

</mapper>