<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.mapper.UserCivProgressMapper">
    <insert id="insert">
        INSERT INTO user_civ_progress (user_id, civ, unlocked, max_stage_cleared)
        VALUES (#{userId}, #{civ}, #{unlocked}, #{maxStageCleared})
    </insert>
    <select id="selectByUserIdAndCiv" resultType="ljc.entity.UserCivProgressTbl">
        SELECT * FROM user_civ_progress WHERE user_id = #{userId} AND civ = #{civ}
    </select>
    
    <update id="update">
        UPDATE user_civ_progress
        SET unlocked = #{unlocked},
            max_stage_cleared = #{maxStageCleared}
        WHERE user_id = #{userId} AND civ = #{civ}
    </update>

    <select id="selectByUserId" resultType="ljc.entity.UserCivProgressTbl">
        SELECT * FROM user_civ_progress WHERE user_id = #{userId}
    </select>
</mapper>

